* {margin: 0px; padding: 0px;}

html, body, #container {
    scroll-behavior: smooth;
}

body, #container, header {
    width: 100%;
    background-color: black;
    
}

hr {
    opacity: 0.3;
    border: 1px solid gold;
    /* background-color: rgba(0, 0, 0, 0.3); */
}

#container {
    margin: 0px auto;
}

.fa {
    color: gold;
}

.fa:hover {
    color: silver;
}

header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid gold;
}

header h1 {
    font-size: 32px;
    margin: 14px;
    text-transform: uppercase;
}

header a {
    color: white;
    text-decoration: none;
}

#menu {
    width: 120px;
    height: 100%;
    text-align: center;
}

nav {
    width: 100%;
    height: 30px;
    /* margin: 15px 0px; */
    margin-top: 30px;
}

ul {
    list-style-type: none;
}

nav ul li {
    height: 100%;
    font-family: sans-serif;
    font-size: 20px;
}

#subMenu {
    display: none;
}

/* #subMenu ul {
    margin-top: 15px;
} */

#subMenu ul a {
    height: 30px;
    color: black;
    text-decoration: none;
    display: block;
}

#subMenu ul li:nth-child(odd) {
    background-color: slategrey;
}

#subMenu ul li:nth-child(even) {
    background-color: grey;
}

nav ul li:hover > #subMenu {
    display: block;
}

#education h3, #projects h3, #projects2 h3, #contact h3 {
    padding-top: 60px;
    color: gold;
}

#skills, #skills2, #btnPjc {
    margin-bottom: 60px;
}

.some {
    margin-left: 30px;
    margin-right: 30px;
}

#work-section {
    /* width: 50%; */
    text-align: center;
    margin: 0px auto 60px;
}

#about-content p, .school p, #work-section p, .list-height p, .list2-height p {
    /* width: 50%; */
    text-align: justify;
}

#intro {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../Images/aethetic2.jpg");
    background-size: cover;
}

#intro h1 {
    font-weight: normal;
    text-transform: uppercase;
}

#education {
    background-color: black;
    color: white;
}

#profile-pic {
    width: 250px;
}

.p-p {
    opacity: 0;
}

#education a {
    color: silver;
}

#school-section {
    width: 100%;
    /* display: flex; */
}

.school {
    border: 1px solid white;
    padding: 5px 5px;
}

.school img {
    width: 250px;
}

#projects {
    background-color: black;
    color: white;
}

.project-list {
    border: 1px solid white;
    padding: 10px 10px
}

.list-height {
    height: auto;
}

.project-list img {
    width: 100%;
}

#projects2 {
    background-color: black;
    color: white;
}

.project2-list {
    border: 1px solid white;
    padding: 10px 10px;
}

.list2-height {
    height: auto;
}

.project2-list img {
    width: 100%;
}

#contact {
    background-color: black;
    color: white;
}

#social-section {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-around;
}

@keyframes fadeInBox {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOutBox {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media (min-width: 600px) {
    #intro h1 {
        font-size: 50px;
        font-weight: bold;
    }

    #profile-pic {
        float: left;
        margin-right: 10px;
    }

    #school-section {
        display: grid;
        grid-template-columns: auto auto;
    }

    #work-section h4 {
        text-align: justify;
    }

    #project-section {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    #project2-section {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .list-height h4 {
        height: 80px;
    }

    .list2-height h4 {
        height: 60px;
    }

    #skills ul {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

    #skills2 ul {
        display: grid;
        grid-template-columns: auto auto auto auto;
        margin-top: 10px;
    }

    .social-list {
        font-size: 30px;
        transition: all 0.5s;
    }
    
    .social-list:hover {
        font-size: 40px;
        transition: all 0.5s;
    }
}

@media (max-width:599px) {
    .section {
        text-align: center;
    }

    #profile-pic {
        margin-bottom: 20px;
    }

    #skills, #skills2 {
        margin-top: 10px;
    }
}